*{
  box-sizing: border-box;
  border:1px solid black;
  padding:5px;
  margin:0;
  font-family: arial;
}

.container-header.top nav *{
  display: inline-block;
}

.container-header{
  width: 100%;
  padding:0 70px;
  background-color: yellow;
}

.container-header.top{
  background-image:
}

.container-header.bottom{
  background-color: lightgrey;

}
.container-header.bottom .text{
  text-align: center;
}

.container-header.bottom .text *{
  display: inline-block;

}






/* inizio MAIN */

.row-top, .row-bottom{
  width: 100%;
  padding:0 70px;
  border-bottom: 1px solid lightgrey;

  /* DEBUG:  */
  background-color: orange;
}

.row-top::after, .row-bottom::after{
  content: '';
  display: table;
  clear: both;
}


.row.column *{
  width: 100%;
  display: inline-block;
}

.row.column.top *{
  text-align: center;
}

.row.top.column{
  width: calc(100% / 3);
}

.row.bottom.column{
  width: calc(100% / 2);
}
.row.column{
  float:left;

}

/* fine MAIN */

.row-footer{
  width: 100%;
  padding:0 70px;
}

.row-footer::after{
  content: '';
  display: table;
  clear: both;
}

.row-footer > *{
  float: left;
  width: calc(100% / 2);
}

.row-footer .column.one span{
  line-height: 70px;
}
