*{
  box-sizing: border-box;
  /* border:1px solid black;
  padding:5px; */
  margin:0;
  font-family: arial;
}



.container-header.top nav{
  position: relative;


  /* DEBUG:  */
  height: 70px;
}

.uls::after{
  content: '';
  display: table;
  clear: both;
}
.uls{
  width: 90%;
}

.uls > ul{
  height: 100%;
  line-height: 70px;
  font-size: 10px;
  float: left;
}

.uls > ul a{
  text-decoration: none;
  color:white;
}

.uls > ul li{
  padding-right:4%;
}

.container-header.top nav *{
  display: inline-block;
}

.container-header.top .uls{
  height:100%;
  position: absolute;
  right:0;
}

#ul1{
  width: 60%;
  text-align: left;
}

#ul2{
  width: 40%;
  text-align: right;
}

.container-header.top nav > img{
  width: 10%;
  position: absolute;
  left:0;
  top:50%;
  transform: translatey(-50%);
}


.container-header{
  width: 100%;
  padding:0 10%;
}

.container-header.top{
  background-color: #0c325a;
  height: 100%;
}

.container-header.middle{
  width: 100%;
  background-image: url('../img/fluentify-jumbo.png');
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #0c325a;
  /* DEBUG:  */
  height: 300px;
}

.container-header.bottom{
  background-color: lightgrey;

}
.container-header.bottom .text{
  text-align: center;
}

.container-header.bottom .text *{
  display: inline-block;
  width: 100%;
}






/* inizio MAIN */

.row-top, .row-bottom{
  width: 100%;
    padding:0 10%;
  border-bottom: 1px solid lightgrey;

  /* DEBUG:  */
  background-color: orange;
}

.row-top::after, .row-bottom::after{
  content: '';
  display: table;
  clear: both;
}


.row.column *{
  width: 100%;
  display: inline-block;
}

.row.column.top *{
  text-align: center;
}

.row.top.column{
  width: calc(100% / 3);
}

.row.bottom.column{
  width: calc(100% / 2);
}
.row.column{
  float:left;

}

/* fine MAIN */

footer{
  width: 100%;
  height: 100px;
  background-color: lightgrey;
}

.row-footer{
  width: 100%;
  height: 100%;
  padding:0 10%;
}

.row-footer::after{
  content: '';
  display: table;
  clear: both;
}

.row-footer > *{
  width: calc(100% / 2);
  height: 100%;
  position: relative;
  float: left;

}

.row-footer .column.one span{
  position: absolute;
  left:0;
  top:50%;
  transform: translatey(-50%);
}

.row-footer .column.two::after{
  content: '';
  display: table;
  clear: both;
}

.row-footer .column.two > * > *{
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%, -50%);
}

.col{
  width: calc(100% / 3);
  height: 100%;
  float: left;
  position: relative;
}
.row-footer .col.three{
  text-align: center;
  margin: auto;
}

.row-footer .col.three > *{
  display: inline-block;
}

.buttons{
  width: 100%;
}
